# Better Auth Configuration
BETTER_AUTH_SECRET= # use openssl rand -hex 32
BETTER_AUTH_URL=http://localhost:3000 # your base url

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/database